<?xml version="1.0" encoding="UTF-8"?>
<configuration>	

	<springProperty name="fileName" source="log.fileName"/>
    <springProperty name="fileMode" source="log.filemode"/>
     <springProperty name="LOG_FILE" source="log.file"/>
	
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name = "console" class = "ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

	<appender name = "tendlclog" class = "ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_FILE}/${fileName}.log</File>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
	        <fileNamePattern>${LOG_FILE}/${fileName}.log%i</fileNamePattern>
	        <minIndex>1</minIndex>
	        <maxIndex>60</maxIndex>
    	</rollingPolicy>
    	<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
     		 <maxFileSize>500MB</maxFileSize>
    	</triggeringPolicy>
    </appender>
    
    <logger name="com.syniverse.tendlc" level="${fileMode}">
        <appender-ref ref="tendlclog" />
    </logger>

</configuration>
